body{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
	background: url(bg.png) no-repeat;
	background-size: cover;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); /* allows center of .middle to line up with center of body */
}
.middle h1{
	font-size: 100px;
	text-transform: uppercase;
	font-weight: 900;
	color: rgba(167, 160, 105, 0.514);
	background-image: url(water.png);
	-webkit-background-clip:text;
	background-clip: text; /*background image sticks in text letter */
	animation: water 20s infinite;
}
@keyframes water {
	from{
		background-position: left 0 top 0;
	}
	to{
		background-position: left 1000px top 0;
	}
}
